body{
background-image: url('../images/bg1.jpg');
background-size: cover;
}
#form{
   background-image: url('../images/lo.jpg');
    width: 390px;
    height: 640px;
    margin-left: 430px;
    margin-top: 0px;
    padding: 0px;
    position: relative;
    z-index: 2;
    border-radius: 5px;
}
input[type=text] {
  width: 50%;
  padding: 12px;
  border: 1px solid grey;
  margin-top: 10px;
  margin-bottom: 16px;
  margin-left: 60px;
  width: 220px;
}
input[type=submit] {
  background-color: #098A82;
  color: white;
  padding: 12px 20px;
  border: none;
  width: 150px;
  border-radius: 5px;
  height: 40px;
  margin: 15px;
}
