body{
    background-image: url('../images/bg4.jpg');
}
h1{
    text-align: center;

}
div{
    color:black;
    text-align: center;
}
#form{
    background-color:white;
    margin: 20px;
    width: 200px;
    padding: 100px;
    margin-left: 35%;
    margin-top: 5%;
    border: 1px solid gray;
    border-radius: 2px;

}
button{
    color: blue;
    padding: 12px 28px;
}
.flo{
  float: left;
}
#results{
    color:black;
}
input{
    padding: 8px 10px;
}gn: center;
    margin-top: 10%;
}
div{
    color:black;
    text-align: center;
}
button{
    color: blue;
    padding: 12px 28px;

}
#results{
    color:black;
}
input{
    padding: 8px 10px;
}
